.calendar-container {
  background: rgb(97, 146, 156);
  display: flex;
  padding: 0px 20px 60px 230px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(238, 21, 21, 0.1);
  margin-top: 20px;
}
.headerh1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #10bcec;
  margin-bottom: 20px;
  text-align: center;
  
}
.fc .fc-button {
  background-color: var(--primary);
  border: none;
  padding: 5px 10px;
  font-size: 0.85rem;
  margin: 2px;
  cursor: pointer;
  color: white;
}

.fc .fc-button:hover {
  background-color: var(--primary-dark);
}

.fc-toolbar-title {
  font-size: 1.3rem;
  font-weight: 600;
}

.fc-event {
  font-size: 0.9rem;
  padding: 4px 6px;
  border-radius: 4px;
  background-color: var(--primary);
  border: none;
  color: white;
}
